$primary-color: #053866;
$secondary-color: #EDF5E1;
$accent-color: #8EE4AF;
$background-color: #EDF5E1;
$text-color: #053866;


$light-background: #EDF5E1;
$light-text-color: #053866;
$light-accent-color: #8EE4AF;

$dark-background: #053866;
$dark-text-color: #EDF5E1;
$dark-accent-color: #8EE4AF;
