$primary-color: #053866;
$secondary-color: #EDF5E1;
$accent-color-1: #8EE4AF;
$accent-color-2: #379683;
$background-color: #EDF5E1;
$text-color: #053866;


$light-background: #EDF5E1;
$light-text-color: #053866;
$light-box-shadow: #ccc;

$dark-background: #053866;
$dark-text-color: #EDF5E1;
$dark-box-shadow: rgba(0, 0, 0, 1);
